@font-face {
  font-family: Gabarito;
  src: url(../../Fonts/Gabarito-VariableFont_wght.ttf);
}
@font-face {
  font-family: Nunito;
  src: url(../../Fonts/Nunito-VariableFont_wght.ttf);
}
* {
  font-family: "Gabarito";
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }
  .link{
    display: none;
  }
}
